# Example dotenv structure.
# To use, rename this file to .env.dev

TREKSAFER_ENV=dev

TREKSAFER_SW_ENABLED=true
TREKSAFER_SW_PROJECT=[REPLACE WITH YOUR SIGNALWIRE PROJECT ID]
TREKSAFER_SW_TOKEN=[REPLACE WITH YOUR SIGNALWIRE API TOKEN]
TREKSAFER_SW_NUMBER=[REPLACE WITH YOUR SIGNALWIRE PHONE NUMBER]
