geopandas>=0.14,<2
networkx>=3.2,<4
osmnx>=2.0.4
pandas>=2.2,<3
pydantic>=2.9,<3
pydantic_settings>=2.5,<3
pyproj>=3.7
pytest>=9.0.3,<10
pytest-asyncio>=1.3,<2
python-dotenv>=1.0
pyyaml>=6
pytz>=2024.1
timezonefinder>=6.5
requests>=2.3,<3
requests_cache>=1.2.1,<1.3
signalwire>=2.1,<3
shapely>=2.0,<3
responses
